<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- I know this not correct but is the only way which i can resolve jeje -->
<div style="display:none;"    ><% first_image =  home[ale(2)]
   second_image =  home[ale(2..3)]
   third_image =  home[ale(4..5)]
   fourth_image =   home[ale(6..7)] %></div>
<!-- I know this not correct but is the only way which i can resolve jeje -->
<body style="background-color: black">
<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-1"></div>
    <%= link_to (first_image) do %>
        <div class="col-lg-5"><div class="ima" style="background-image: url(<%= first_image.image_url.to_s %>)"></div></div>
      <% end %>
    <%= link_to (second_image) do %>
        <div class="col-lg-5"><div class="ima" style="background-image: url(<%= second_image.image_url.to_s %>)"></div></div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5" ><%= link_to (third_image) do %>
          <div class="ima" style="background-image: url(<%= third_image.image_url.to_s %>)"></div>
      <% end %></div>
    <div class="col-lg-5" ><%= link_to (fourth_image) do %>
          <div class="ima" style="background-image: url(<%= fourth_image.image_url.to_s %>)"></div>
      <% end %></div>
  </div>
</div>
</body>


