<!-- TABLA MOVIES -->
<div class="container">
  <h1 class="text-center">Movies</h1>  

  <% @movies.each do |movie| %>

      <div class="row">
       <div class="col-xs-9"><h3><%= movie.title %></h3></div>
        <div class="col-xs-3"><h3>$<%= movie.price %></h3></div>
      </div>

      <div class="row">
      <div class="col-xs-12"><%= image_tag movie.image_url.to_s, width: '100%', align:'center' if movie.image_url.to_s.present? %></div>
      </div>

      <div><%= link_to 'Details', movie %> | <%= link_to 'Edit', edit_movie_path(movie) %></div>
      <div><%= link_to 'Eliminate', movie, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
</div><br>

<div id="task-form" style="display:none;"></div>
<%= link_to 'New Movie', new_movie_path, remote: true %>

