<div class="container">
<div class="col-xs-12" align="center"><%= render current_cart %></div>
<div class="col-xs-12" align="center"><h1>Movies</h1></div>

  <% @movies.each do |movie| %>

      <div class="row">
        <div class="col-xs-9"><h3><%= movie.title %></h3></div>
        <div class="col-xs-3"><h3>$<%= movie.price %></h3></div>
      </div>

      <div class="row">
        <div class="col-xs-12"><%= image_tag movie.image_url.to_s, width: '100%' if movie.image_url.to_s.present? %></div>
      </div>

<div class="row">
       <div class="col-xs-12" align="center"><%= button_to 'Add to Cart', line_movies_path(movies_id: movie) %></div>
      </div>
  <% end %>
</div>